/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @plugin "daisyui"; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-spacing: 0.2rem;
}

body {
  margin: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-6px);
  }
  80% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

.labelFloating {
  @apply -top-3 text-base text-[#00000080] lg:text-gray-400
}